.results {
    // @include default-page-layout();
    height: 100vh;
    width: 66vw;
    display: grid;

    margin-top: 52px;
    grid-row-gap: 44px;
}

.results-posts {
    //display: grid;
    //grid-row-gap: 21px;

    .results-posts-wrapper{
        
        .results-posts-posts{
            display: grid;
            grid-row-gap: 21px;
            justify-content: stretch;
        }

    }


}

.result-post {
    display: grid;
    align-content: space-around;
    grid-row-gap: 22px;

    .result-post-topics > * {
        color: $color-blue-one;
        font-size: 14px;
        line-height: 17px;
        font-weight: normal;
    }

    .result-post-title a{
        color: #666666;
        font-size: 18px;
        line-height: 22px;
    }

    .result-post-links {
        display:flex;
    }
}

.post-link{
    min-height: 70px;
    display: flex;
    flex-basis: 205px;

    .post-link-box{
        min-width: 70px;
        background-color: #d8d8d8;
        margin-right: 16px;
    }
    .post-link-link a{
       color: $mid-gray; 
       font-size: 14px;
       line-height: 17px
    }   
}